# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data — arquivos brutos grandes não versionados
data/bronze/*.parquet
data/silver/*.parquet
data/gold/*.parquet

# Spark
spark-warehouse/
derby.log
metastore_db/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
